<div>
  <nav class="date_paginate days">
    <% recent_days.each do |begin_time| %>
      <% begin_time = begin_time.in_time_zone if date.is_a? ActiveSupport::TimeWithZone %>
      <span class="page<%=' current' if (date.between? begin_time, begin_time.end_of_day) %>">
        <%= link_to_unless (date.between? begin_time, begin_time.end_of_day), m.strftime('%Y-%m-%d'), year: begin_time.year, month: begin_time.month, day: begin_time.day %>
      </span>
    <% end %>
  </nav>
</div>
