<div>
  <nav class="date_paginate months">
    <% recent_months(num_pages).each do |begin_date| %>
      <% begin_date = begin_date.in_time_zone if date.is_a? ActiveSupport::TimeWithZone %>
      <span class="page<%=' current' if (date.between? begin_date, begin_date.end_of_month) %>">
        <%= link_to_unless (date.between? begin_date, begin_date.end_of_month), begin_date.strftime('%Y-%m'), year: begin_date.year, month: begin_date.month %>
      </span>
    <% end %>
  </nav>
</div>
